In [27]:
import pandas as pd
input_file = '../data/BGL/BGL.log_structured.csv'
df = pd.read_csv(input_file)

df['Time'] = pd.to_datetime(df['Time'], format="%Y-%m-%d-%H.%M.%S.%f")
def create_frame_for_lala(df):
        df.loc[:, 'count'] = df.shape[0]
        return df.loc[:, ['Time', 'EventId', 'count']]
g = df.groupby([pd.Grouper(key='Time', freq='6H'), 'EventId']).apply(lambda x: x.shape[0])

In [30]:
g = g.reset_index()

In [34]:
g

                     Time   EventId     0
0     2005-06-03 12:00:00  070de4aa  4286
1     2005-06-03 12:00:00  147cfcff    19
2     2005-06-03 12:00:00  3aa50e45  4863
3     2005-06-03 12:00:00  4cecb415     5
4     2005-06-03 12:00:00  5569cffc    10
...                   ...       ...   ...
17516 2006-01-04 06:00:00  7a03d1e9    10
17517 2006-01-04 06:00:00  8df7ac9e     5
17518 2006-01-04 06:00:00  996c9c62     1
17519 2006-01-04 06:00:00  d7623fbd     8
17520 2006-01-04 06:00:00  f0c191b1    17

[17521 rows x 3 columns]

In [39]:
g.pivot(index="Time",
        columns="EventId").fillna(0)

                           0                                               \
EventId             0045c3a8 01c4e373 02430fd4 0256fb0b 0315e48d 0328c31b
Time
2005-06-03 12:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2005-06-03 18:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2005-06-04 00:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2005-06-04 06:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2005-06-04 12:00:00      0.0      0.0      0.0      0.0      0.0      0.0
...                      ...      ...      ...      ...      ...      ...
2006-01-03 06:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2006-01-03 12:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2006-01-03 18:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2006-01-04 00:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2006-01-04 06:00:00      0.0      0.0      0.0      0.0      0.0      0.0

                                                         ...           \
EventId             045f554d 04639923 04f5a2ae 0509d32d  ... f7c382bd
Time                                                     ...
2005-06-03 12:00:00      0.0      0.0      0.0      0.0  ...      0.0
2005-06-03 18:00:00      0.0      0.0      0.0      0.0  ...      0.0
2005-06-04 00:00:00      0.0      0.0      0.0      0.0  ...      0.0
2005-06-04 06:00:00      0.0      0.0      0.0      0.0  ...      0.0
2005-06-04 12:00:00      0.0      0.0      0.0      0.0  ...      0.0
...                      ...      ...      ...      ...  ...      ...
2006-01-03 06:00:00      0.0      0.0      0.0      0.0  ...      0.0
2006-01-03 12:00:00      0.0      0.0      0.0      0.0  ...      0.0
2006-01-03 18:00:00      0.0      0.0      0.0      0.0  ...      0.0
2006-01-04 00:00:00      0.0      0.0      0.0      0.0  ...      0.0
2006-01-04 06:00:00      0.0      0.0      0.0      0.0  ...      0.0

                                                                           \
EventId             f80a5ed5 f97e57f1 f9df8a24 fac52822 fb1560b4 fb225cd2
Time
2005-06-03 12:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2005-06-03 18:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2005-06-04 00:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2005-06-04 06:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2005-06-04 12:00:00      0.0      0.0      0.0      0.0      0.0      0.0
...                      ...      ...      ...      ...      ...      ...
2006-01-03 06:00:00      0.0      0.0      3.0      0.0      0.0      0.0
2006-01-03 12:00:00      0.0      0.0      1.0      0.0      0.0      0.0
2006-01-03 18:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2006-01-04 00:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2006-01-04 06:00:00      0.0      0.0      0.0      0.0      0.0      0.0


EventId             fe297487 feaae979 ff52c40c
Time
2005-06-03 12:00:00      0.0      0.0      0.0
2005-06-03 18:00:00      0.0      0.0      0.0
2005-06-04 00:00:00      0.0      0.0      0.0
2005-06-04 06:00:00      0.0      0.0      0.0
2005-06-04 12:00:00      0.0      0.0      0.0
...                      ...      ...      ...
2006-01-03 06:00:00      0.0      0.0      0.0
2006-01-03 12:00:00      0.0      0.0      0.0
2006-01-03 18:00:00      0.0      0.0      0.0
2006-01-04 00:00:00      0.0      0.0      0.0
2006-01-04 06:00:00      0.0      0.0      0.0

[820 rows x 387 columns]

In [71]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(g.size(), test_size=0.2)