In [179]:
import pandas as pd
input_file = '../data/BGL/BGL.log_structured.csv'
df = pd.read_csv(input_file)

df['Time'] = pd.to_datetime(df['Time'], format="%Y-%m-%d-%H.%M.%S.%f")

In [191]:
df['IsAnomaly'] = df['Label'] != '-'
g = df.groupby([pd.Grouper(key='Time', freq='6H'), 'EventId'])
h = df.groupby([pd.Grouper(key='Time', freq='6H')])

In [200]:
anomaly_df = h.apply(lambda x: x.loc[:, 'IsAnomaly'].any()).reset_index()
count_df = g.apply(lambda x: x.shape[0]).reset_index()

In [206]:
count_df.rename({0:'count'}, axis=1, inplace=True)
anomaly_df.rename({0:'is_anomaly'}, axis=1, inplace=True)
merged = pd.merge(anomaly_df, count_df, how='outer', on='Time')

In [246]:
merged

                     Time  is_anomaly   EventId   count
0     2005-06-03 12:00:00       False  070de4aa  4286.0
1     2005-06-03 12:00:00       False  147cfcff    19.0
2     2005-06-03 12:00:00       False  3aa50e45  4863.0
3     2005-06-03 12:00:00       False  4cecb415     5.0
4     2005-06-03 12:00:00       False  5569cffc    10.0
...                   ...         ...       ...     ...
17556 2006-01-04 06:00:00        True  7a03d1e9    10.0
17557 2006-01-04 06:00:00        True  8df7ac9e     5.0
17558 2006-01-04 06:00:00        True  996c9c62     1.0
17559 2006-01-04 06:00:00        True  d7623fbd     8.0
17560 2006-01-04 06:00:00        True  f0c191b1    17.0

[17561 rows x 4 columns]

In [247]:
event_count_vector = merged.pivot(index=["Time", 'is_anomaly'],
                                    columns="EventId").fillna(0)

In [248]:
event_count_vector

                               count                                      \
EventId                          NaN 0045c3a8 01c4e373 02430fd4 0256fb0b
Time                is_anomaly
2005-06-03 12:00:00 False        0.0      0.0      0.0      0.0      0.0
2005-06-03 18:00:00 False        0.0      0.0      0.0      0.0      0.0
2005-06-04 00:00:00 True         0.0      0.0      0.0      0.0      0.0
2005-06-04 06:00:00 False        0.0      0.0      0.0      0.0      0.0
2005-06-04 12:00:00 False        0.0      0.0      0.0      0.0      0.0
...                              ...      ...      ...      ...      ...
2006-01-03 06:00:00 True         0.0      0.0      0.0      0.0      0.0
2006-01-03 12:00:00 True         0.0      0.0      0.0      0.0      0.0
2006-01-03 18:00:00 False        0.0      0.0      0.0      0.0      0.0
2006-01-04 00:00:00 False        0.0      0.0      0.0      0.0      0.0
2006-01-04 06:00:00 True         0.0      0.0      0.0      0.0      0.0

                                                                             \
EventId                        0315e48d 0328c31b 045f554d 04639923 04f5a2ae
Time                is_anomaly
2005-06-03 12:00:00 False           0.0      0.0      0.0      0.0      0.0
2005-06-03 18:00:00 False           0.0      0.0      0.0      0.0      0.0
2005-06-04 00:00:00 True            0.0      0.0      0.0      0.0      0.0
2005-06-04 06:00:00 False           0.0      0.0      0.0      0.0      0.0
2005-06-04 12:00:00 False           0.0      0.0      0.0      0.0      0.0
...                                 ...      ...      ...      ...      ...
2006-01-03 06:00:00 True            0.0      0.0      0.0      0.0      0.0
2006-01-03 12:00:00 True            0.0      0.0      0.0      0.0      0.0
2006-01-03 18:00:00 False           0.0      0.0      0.0      0.0      0.0
2006-01-04 00:00:00 False           0.0      0.0      0.0      0.0      0.0
2006-01-04 06:00:00 True            0.0      0.0      0.0      0.0      0.0

                                ...                                      \
EventId                         ... f7c382bd f80a5ed5 f97e57f1 f9df8a24
Time                is_anomaly  ...
2005-06-03 12:00:00 False       ...      0.0      0.0      0.0      0.0
2005-06-03 18:00:00 False       ...      0.0      0.0      0.0      0.0
2005-06-04 00:00:00 True        ...      0.0      0.0      0.0      0.0
2005-06-04 06:00:00 False       ...      0.0      0.0      0.0      0.0
2005-06-04 12:00:00 False       ...      0.0      0.0      0.0      0.0
...                             ...      ...      ...      ...      ...
2006-01-03 06:00:00 True        ...      0.0      0.0      0.0      3.0
2006-01-03 12:00:00 True        ...      0.0      0.0      0.0      1.0
2006-01-03 18:00:00 False       ...      0.0      0.0      0.0      0.0
2006-01-04 00:00:00 False       ...      0.0      0.0      0.0      0.0
2006-01-04 06:00:00 True        ...      0.0      0.0      0.0      0.0

                                                                             \
EventId                        fac52822 fb1560b4 fb225cd2 fe297487 feaae979
Time                is_anomaly
2005-06-03 12:00:00 False           0.0      0.0      0.0      0.0      0.0
2005-06-03 18:00:00 False           0.0      0.0      0.0      0.0      0.0
2005-06-04 00:00:00 True            0.0      0.0      0.0      0.0      0.0
2005-06-04 06:00:00 False           0.0      0.0      0.0      0.0      0.0
2005-06-04 12:00:00 False           0.0      0.0      0.0      0.0      0.0
...                                 ...      ...      ...      ...      ...
2006-01-03 06:00:00 True            0.0      0.0      0.0      0.0      0.0
2006-01-03 12:00:00 True            0.0      0.0      0.0      0.0      0.0
2006-01-03 18:00:00 False           0.0      0.0      0.0      0.0      0.0
2006-01-04 00:00:00 False           0.0      0.0      0.0      0.0      0.0
2006-01-04 06:00:00 True            0.0      0.0      0.0      0.0      0.0


EventId                        ff52c40c
Time                is_anomaly
2005-06-03 12:00:00 False           0.0
2005-06-03 18:00:00 False           0.0
2005-06-04 00:00:00 True            0.0
2005-06-04 06:00:00 False           0.0
2005-06-04 12:00:00 False           0.0
...                                 ...
2006-01-03 06:00:00 True            0.0
2006-01-03 12:00:00 True            0.0
2006-01-03 18:00:00 False           0.0
2006-01-04 00:00:00 False           0.0
2006-01-04 06:00:00 True            0.0

[860 rows x 388 columns]

In [43]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(event_count_vector, test_size=0.2)

In [44]:
train

                       index                                               \
EventId             0045c3a8 01c4e373 02430fd4 0256fb0b 0315e48d 0328c31b
Time
2005-10-22 00:00:00      0.0      0.0  10783.0      0.0      0.0  10784.0
2005-10-15 00:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2005-07-05 12:00:00      0.0      0.0   2264.0      0.0      0.0   2265.0
2005-10-18 18:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2005-07-12 18:00:00      0.0      0.0      0.0      0.0      0.0      0.0
...                      ...      ...      ...      ...      ...      ...
2005-10-11 00:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2005-07-22 18:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2005-07-11 00:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2005-11-15 18:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2005-09-21 06:00:00      0.0      0.0   7974.0      0.0      0.0   7975.0

                                                         ...        0  \
EventId             045f554d 04639923 04f5a2ae 0509d32d  ... f7c382bd
Time                                                     ...
2005-10-22 00:00:00  10785.0      0.0      0.0      0.0  ...      1.0
2005-10-15 00:00:00      0.0      0.0      0.0      0.0  ...      0.0
2005-07-05 12:00:00   2266.0      0.0      0.0      0.0  ...      0.0
2005-10-18 18:00:00      0.0      0.0      0.0      0.0  ...      0.0
2005-07-12 18:00:00      0.0      0.0      0.0      0.0  ...      0.0
...                      ...      ...      ...      ...  ...      ...
2005-10-11 00:00:00      0.0      0.0      0.0      0.0  ...      0.0
2005-07-22 18:00:00      0.0      0.0      0.0      0.0  ...      0.0
2005-07-11 00:00:00      0.0      0.0      0.0      0.0  ...      0.0
2005-11-15 18:00:00      0.0      0.0      0.0      0.0  ...      0.0
2005-09-21 06:00:00   7976.0      0.0      0.0      0.0  ...      1.0

                                                                           \
EventId             f80a5ed5 f97e57f1 f9df8a24 fac52822 fb1560b4 fb225cd2
Time
2005-10-22 00:00:00      0.0      0.0      0.0      0.0      1.0      0.0
2005-10-15 00:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2005-07-05 12:00:00      0.0      1.0      0.0      0.0      1.0      0.0
2005-10-18 18:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2005-07-12 18:00:00      0.0      0.0      0.0      0.0      0.0      0.0
...                      ...      ...      ...      ...      ...      ...
2005-10-11 00:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2005-07-22 18:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2005-07-11 00:00:00      0.0      0.0      0.0      0.0      0.0      0.0
2005-11-15 18:00:00      0.0      0.0      1.0      0.0      0.0      0.0
2005-09-21 06:00:00      0.0      0.0      0.0      0.0      1.0      0.0


EventId             fe297487 feaae979 ff52c40c
Time
2005-10-22 00:00:00      0.0      0.0      0.0
2005-10-15 00:00:00      0.0      0.0      0.0
2005-07-05 12:00:00      0.0      0.0      0.0
2005-10-18 18:00:00      0.0      0.0      0.0
2005-07-12 18:00:00      0.0      0.0      0.0
...                      ...      ...      ...
2005-10-11 00:00:00      0.0      0.0      0.0
2005-07-22 18:00:00      0.0      0.0      0.0
2005-07-11 00:00:00      0.0      0.0      0.0
2005-11-15 18:00:00      0.0      0.0      0.0
2005-09-21 06:00:00      0.0      0.0      0.0

[656 rows x 774 columns]